# Ignore all files in this directory
*

# Don't ignore .gitignore files
!.gitignore

# Don't ignore subdirectories
!*/

# Re-ignore everything in subdirectories
*/*

# But allow .gitignore files in subdirectories 
!*/.gitignore